<div>
  <div class="row mx-auto justify-content-spaced">
    <span class="col-10"><b>{{data.type}}</b></span>
    <span class="col-2 text-right"><mat-icon (click)="snackBarRef.dismiss()">close</mat-icon></span>
  </div>
  <div class="row mx-auto">
    <div class="text-center mx-auto">{{data.message}}</div>
  </div>
</div>

