<div class="container my-4">
  <h1 class="title text-center mt-5">Lista de Tareas</h1>
  <p class="table-description">Se muestran {{chores.length}} de un total de {{chores.length}} tareas</p>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort  class=" table table-striped">
      <!-- Checkbox Column -->
      <!--<ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef
            class="text-center">
          <mat-checkbox (change)="$event ? masterToggle() : null" class="px-2"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <span>Seleccionar<br>Todos</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>-->
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center"><b>No.</b></th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- chores Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Tareas</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center"><b>Estado</b></th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>



      <!-- firstHeadersRow -->
      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let row; columns: headers;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                 showFirstLastButtons
                 aria-label="Seleccione la pagina">
  </mat-paginator>
  <!--<div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 text-center">
      <button class="btn  primaryBtn" id="save" [disabled]="selection.isEmpty() || !canPay" (click)="openModal()">
        Pagar
      </button>
    </div>
    <div class=" col-12 my-3 col-sm-3 text-center">
      <button class="btn  secondaryBtn" id="clean" (click)="clean(true)">Limpiar</button>
    </div>
  </div>-->
</div>

