@import "../variables";
.elevation {
  z-index: 99999;

}
.my-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  background-color: $generalBackground;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-nav-list {
  font-family:  $preloBold;
  font-size: 16px ;
  color: $blue;
}

.mat-list-item, .mat-expansion-panel-header {
  justify-content: center;
}

.mat-list-item:active {
  background-color: $yellow;
}
.mat-list-item{
  text-align: center;
}

.mat-list-item {
  font-family:  $preloMedium;
  padding-left: 10%;
  //font-family: $preloMedium;
  color: $blue;
  font-size: $medium;
  letter-spacing: 0;
  text-align: center;
  opacity: 1;
}
.mat-list-item:active,.mat-list-item:visited, .active_link{
  font-family:  $preloBold;
}

.mat-nav-list {
  justify-content: center;
}
.mat-expansion-panel .mat-list-item{
  padding: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.mat-expansion-panel-body{
  width: 100%;
}
.mat-expansion-panel-header{
  font-family:  $preloMedium;
  color: $blue;
  font-size: $medium;
  letter-spacing: 0;
  opacity: 1;
  border: 0;
}
div.mat-expansion-panel-body{
  padding: 0;
}

@media (min-width: 781px) {
  mat-sidenav {
    width: 25%;
  }
}
@media (max-width: 500px) {
  mat-sidenav {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 780px){
  mat-sidenav {
    width: 35%;
  }
}
