<div class="my-container alternate-theme" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar elevation mat-elevation-z2" id="topbar">
    <!--<button mat-button-icon (click)="snav.toggle()" *ngIf="mobileQuery.matches">-->
    <mat-icon (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      menu
    </mat-icon>
    <!--</button>-->
    <img src="../assets/img/logo.png" class="img-fluid pl-2 py-1 m-0" style="width:9%;" *ngIf="!mobileQuery.matches"
         alt="Banco Pichincha">
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
                 [fixedInViewport]="true" fixedTopGap="56" class="mat-elevation-z3 sidenav">
      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item" routerLink="/chores-list"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Inicio
        </a>
      </mat-nav-list>
      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item" routerLink="/buy-wallet-files"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Pre validación Archivos clientes-operaciones
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <!--<p-pages></p-pages>-->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>

