<div class="container my-4">
  <h1 class="title text-center">Carga Archivos de Compra de Cartera</h1>
  <div class="row">
    <div class="col-12 col-sm-8 my-0 my-md-3 ">
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Archivo Cliente</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" id="client_file">
          <mat-label>Buscar Archivo</mat-label>
          <ngx-mat-file-input #clientFile placeholder="Buscar Archivo"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!clientFile.empty" (click)="clientFile.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 my-3 col-sm-2 mt-md-5 text-center">
      <button class="btn primaryBtn my-0 my-md-3">Cargar Archivo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8 my-0 my-md-3 ">
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Archivo Operaciones</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" id="operations_file">
          <mat-label>Buscar Archivo</mat-label>
          <ngx-mat-file-input #operationsFile placeholder="Buscar Archivo"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!operationsFile.empty" (click)="operationsFile.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 my-3 col-sm-2 mt-md-5 text-center">
      <button class="btn primaryBtn my-0 my-md-3">Cargar Archivo</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="alert my-3 alert-success col-11 col-sm-5 mx-auto text-center" role="alert">
      Mensaje Correcto
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="alert my-3 alert-warning col-11 col-sm-5 mx-auto text-center" role="alert">
      Mensaje de advertencia
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="alert my-3 alert-danger col-11 col-sm-5 mx-auto text-center" role="alert">
      Los campos marcados son obligatorios o están incorrectos
    </div>
  </div>
</div>

